<div class="mb-3">
     <label for="efilterText" class="form-label">Search</label>
     <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="type for search">
</div>

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
     <thead>
          <tr>
               <th>Card Id</th>
               <th>Card Name </th>
               <th>Is Income</th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let item of cards">
               <td>{{item.id}}</td>
               <td>{{item.name | uppercase}}</td>
               <td>{{item.isIncome}}</td>
          </tr>
     </tbody>
</table>