<div class="mb-3">
     <label for="efilterText" class="form-label">Search</label>
     <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Type for search">
 </div>
 <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
 </div>
 <table class="table">
     <thead>
          <tr>
               <th>userId</th>
               <th>firstName</th>
               <th>lastName</th>
               <th>email</th>
               <th>operationClaimId</th>
               <th>operationName</th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let item of userDetails">
               <td>{{item.userId}}</td>
               <td>{{item.firstName}}</td>
               <td>{{item.lastName}}</td>
               <td>{{item.email}}</td>
               <td>{{item.operationClaimId}}</td>
               <td>{{item.operationName}}</td>
          </tr>
     </tbody>
 </table>