<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <h5 class="title">Get total money between interval</h5>
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label>Begin Second</label>
                <input type="number" [(ngModel)]="secondBegin" class="form-control" placeholder="type begin second">
            </div>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label>Final Second</label>
                <input type="number" [(ngModel)]="secondFinal" class="form-control" placeholder="type final second">
            </div>
        </div>

        <div class="card-body">
            <div class="mb-3">
                <label>Is Income</label>
                <input type="boolean" [(ngModel)]="isIncome" class="form-control" placeholder="type isIncome">
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-fill btn-primary" (click)="getMonthlyMoney()">Get</button>
        </div>
    </div>
</div>

<div *ngIf="dataViewed==true">
    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Total Money</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let col of [0] ">
                <td>{{totalMoney|number}}</td>
            </tr>
        </tbody>
    </table>
</div>