<div class="content">
     <div class="col-md-12">
         <div class="card">
             <div class="card-header">
                 <h5 class="title">Flat Delete</h5>
             </div>
             <div class="card-body">
                 <div class="mb-3">
                     <label>flatId</label>
                     <input type="number" [(ngModel)]="deletedId" class="form-control"
                         placeholder="Type flatId for delete">
                 </div>
             </div>
             <div class="card-footer">
                 <button class="btn btn-fill btn-primary" (click)="delete()">Delete</button>
             </div>
         </div>
     </div>
 </div>