<div class="mb-3">
     <label for="efilterText" class="form-label">Search</label>
     <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="type for search">
</div>
<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
     <thead>
          <tr>
               <th>Flat Id</th>
               <th>Apartment Id</th>
               <th>Price of Rent</th>
               <th>Renter Id</th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let item of flats">
               <td>{{item.flatNo}}</td>
               <td>{{item.apartmentId}}</td>
               <td>{{item.priceOfRent}}</td>
               <td>{{item.renterId}}</td>
          </tr>
     </tbody>
</table>