<div *ngIf="dataViewed==false">
     <div class="col-md-12">
          <div class="card">
               <div class="card-header">
                    <h5 class="title">Get Total Money Between Time Interval</h5>
               </div>
               <div class="card-body">
                    <div class="mb-3">
                         <label>Flat Id</label>
                         <input type="number" [(ngModel)]="flatId" class="form-control"
                              placeholder="type flat id">
                    </div>
               </div>
               <div class="card-body">
                    <div class="mb-3">
                         <label>Begin Second</label>
                         <input type="number" [(ngModel)]="secondBegin" class="form-control"
                              placeholder="type begin second">
                    </div>
               </div>

               <div class="card-body">
                    <div class="mb-3">
                         <label>Final Second</label>
                         <input type="number" [(ngModel)]="secondFinal" class="form-control"
                              placeholder="type final second">
                    </div>
               </div>

               <div class="card-body">
                    <div class="mb-3">
                         <label>Is Income</label>
                         <input type="boolean" [(ngModel)]="isIncome" class="form-control" 
                         placeholder="type is income">
                    </div>
               </div>
               <div class="card-footer">
                    <button class="btn btn-fill btn-primary" (click)="getMonthlyMoney()">Get</button>
               </div>
          </div>
     </div>
</div>
<div *ngIf="dataViewed==true">
     <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
     </div>
     <table class="table">
          <thead>
               <tr>
                    <th>Id</th>
                    <th>Card Id</th>
                    <th>Flat Id</th>
                    <th>Date</th>
                    <th>Price</th>
                    <th>Name</th>
                    <th>IsIncome</th>
               </tr>
          </thead>
          <tbody>
               <tr *ngFor="let item of cardHistoryDetails">
                    <td>{{item.id}}</td>
                    <td>{{item.cardId}}</td>
                    <td>{{item.flatId}}</td>
                    <td>{{item.date | date:'medium'}}  </td>
                    <td>{{item.price}}</td>
                    <td>{{item.name | uppercase}}</td>
                    <td>{{item.isIncome}}</td>
               </tr>
          </tbody>
     </table>
</div>