  
<div *ngIf="dataLoaded==false" class="spinner-border text-info" role="status">
     <span class="visually-hidden">Loading...</span>
 </div>
 <div class="mb-3">
     <label for="efilterText" class="form-label">Search</label>
     <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Type for search">
 </div>

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
     <thead>
          <tr>
               <th>Apartment ıd</th>
               <th>apartment name </th>
               <th>numberOfFlat</th>
               <th>numberOfFloor</th>
               <th></th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let item of apartments| filterPipe:filterText" >
               <td>{{item.apartmentId}}</td>
               <td>{{item.apartmentName| uppercase}}</td>
               <td>{{item.numberOfFlat}}</td>
               <td>{{item.numberOfFloor}}</td>
          </tr>
     </tbody>
</table>