<div *ngIf="dataViewed==false">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Get Apartment By Id</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label>Apartment Id</label>
                    <input type="number" [(ngModel)]="viewedId" class="form-control"
                        placeholder="type apartment id">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="getApartmentsById()">Get</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="dataViewed==true">
    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Apartment Name</th>
                <th>Apartment Id</th>
                <th>Number of Flat</th>
                <th>Number of Floor</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let col of [0]">
                <td>{{apartment.name}}</td>
                <td>{{apartment.id | number  }}</td>
                <td>{{apartment.numberOfFlat | number}}</td>
                <td>{{apartment.numberOfFloor | number}}</td>
            </tr>
        </tbody>
    </table>
</div>