<div class="mb-3">
     <label for="efilterText" class="form-label">Search</label>
     <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="type for search">
</div>

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
     <thead>
          <tr>
               <th>Renter Id</th>
               <th>First Name</th>
               <th>Last Name</th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let item of renters">
               <td>{{item.renterId}}</td>
               <td>{{item.firstName}}</td>
               <td>{{item.lastName}}</td>
          </tr>
     </tbody>
</table>