<div *ngIf="dataViewed==false">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Get Card By Id</h5>
            </div>
            <div class="card-body">
                <div class="mb-3">
                    <label>Card Id</label>
                    <input type="number" [(ngModel)]="viewedId" class="form-control" placeholder="type card id">
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="getCardsById()">Get</button>
            </div>
        </div>
    </div>
</div>
<div *ngIf="dataViewed==true">
    <div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Card Id</th>
                <th>Card Name</th>
                <th>Is Income</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let col of [0]">
                <td>{{card.id | number}}</td>
                <td>{{card.name}}</td>
                <td>{{card.isIncome}}</td>
            </tr>
        </tbody>
    </table>
</div>