<div class="content">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <h5 class="title">Card Add</h5>
            </div>
            <div class="card-body">
                <form [formGroup]="cardAddForm">
                    <div class="mb-3">
                        <label for="cardId">Card Id</label>
                        <div class="form-group">
                            <input readonly type="number" id="cardId" formControlName="cardId" class="form-control"
                                placeholder="" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="name">Card Name</label>
                        <div class="form-group">
                            <input type="text" id="name" formControlName="name" class="form-control"
                                placeholder="type card name"/>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="isIncome">Is Income</label>
                        <div class="form-group">
                            <div class="form-check form-switch">
                                <input id="isIncome" formControlName="isIncome" class="form-check-input" type="checkbox"
                                    checked>
                                <label class="form-check-label" for="flexSwitchCheckChecked">Income/Outcome</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-footer">
                <button class="btn btn-fill btn-primary" (click)="add()">Add</button>
            </div>
        </div>
    </div>
</div>