<div class="content">
     <div class="col-md-12">
         <div class="card">
             <div class="card-header">
                 <h5 class="title">Flat Update</h5>
             </div>
             <div class="card-body">
                 <form [formGroup]="flatUpdateForm">
                     <div class="mb-3">
                         <label for="flatId">Flat Id</label>
                         <div class="form-group">
                             <input type="number" id="flatId" formControlName="flatId" class="form-control"
                                 placeholder="type flat id" />
                         </div>
                     </div>
                     <div class="mb-3">
                         <label for="apartmentId">Apartment Id</label>
                         <div class="form-group">
                             <input type="number" id="apartmentId" formControlName="apartmentId" class="form-control"
                                 placeholder="apartmentId" />
                         </div>
                     </div>
                     <div class="mb-3">
                         <label for="priceOfRent">Price of Rent</label>
                         <div class="form-group">
                             <input type="number" id="priceOfRent" formControlName="priceOfRent" class="form-control"
                                 placeholder="type price of rent" />
                         </div>
                     </div>
                     <div class="mb-3">
                         <label for="renterId">Renter Id</label>
                         <div class="form-group">
                             <input type="number" id="renterId" formControlName="renterId" class="form-control"
                                 placeholder="type renter id" />
                         </div>
                     </div>
 
                 </form>
             </div>
             <div class="card-footer">
                 <button class="btn btn-fill btn-primary" (click)="update()">Update</button>
             </div>
         </div>
     </div>
 </div>