<div class="content">
     <div class="col-md-12">
         <div class="card">
             <div class="card-header">
                 <h5 class="title">Delete User</h5>
             </div>
             <div class="card-body">
                 <div class="mb-3">
                     <label>User Email</label>
                     <input type="text" [(ngModel)]="deletedEmail" class="form-control"
                         placeholder="type user email  ">
                 </div>
             </div>
             <div class="card-footer">
                 <button class="btn btn-fill btn-primary" (click)="delete()">Delete</button>
             </div>
         </div>
     </div>
 </div>
