<div class="mb-3">
     <label for="efilterText" class="form-label">Search</label>
     <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Type for search">
</div>

<div *ngIf="dataLoaded==false" class="spinner-border text-primary" role="status">
     <span class="visually-hidden">Loading...</span>
</div>
<table class="table">
     <thead>
          <tr>
               <th>Card Id</th>
               <th>Id</th>
               <th>FlatId</th>
               <th>DateTime</th>
               <th>Price</th>
          </tr>
     </thead>
     <tbody>
          <tr *ngFor="let item of cardHistories">
               <td>{{item.cardId}}</td>
               <td>{{item.id}}</td>
               <td>{{item.flatId}}</td>
               <td>{{item.dateTime}}</td>
               <td>{{item.price}}</td>
          </tr>
     </tbody>
</table>